body{
    background-color: cornflowerblue;
    cursor: none;
}


.custom-cursor {
    width: 100px;
    height: 100px;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 50%;
    background-color: gold;
    position: absolute;
    pointer-events: none; /* Prevent the cursor from blocking interactions */
    transition: transform 0.1s ease, background-color 0.1s ease;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: 0.1s;
}

.custom-cursor.active {
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.1); /* Change color */
    width: 90px;
    height: 90px;
}

p{
    font-size: 18px;
    margin-top: 30px;
    font-weight: 700;
}
